# Database Configuration
DATABASE.HOST=db
DATABASE.PORT=5432
DATABASE.USERNAME=postgres
DATABASE.PASSWORD=password
DATABASE.DATABASE=web

# Web Configuration
WEB_BASE_URL=http://localhost:8081

# Logging
RUST_LOG=info
